#!/usr/bin/make -f
# debian/rules file for Tiger using debhelper
# GNU copyright 1997 to 1999 by Joey Hess.
# (c) 2001-2013 Javier Fernández-Sanguino <jfs@debian.org>

# We depend on baashisms
SHELL=/bin/bash

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
# export DH_COMPAT=5

build: build-stamp
build-stamp:
	dh_testdir
	autoconf
	./configure --with-tigerhome=/usr/lib/tiger --with-tigerwork=/var/lib/tiger/work --with-tigerlog=/var/log/tiger --with-tigerbin=/usr/sbin --with-tigerconfig=/etc/tiger --prefix=/usr --mandir=/usr/share/man
	$(MAKE) all
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	[ -f Makefile ] && $(MAKE) distclean || $(MAKE) -f Makefile.in distclean
	-rm -f config.{status,log,cache}
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	$(MAKE) install DESTDIR=debian/tiger/
	# This is not needed
	-rm -rf debian/tiger/usr/lib/tiger/man/
	# Fix permission of all shell files
	egrep -rl "^#\!/bin/.*sh" debian/tiger | \
		while read shell ; do chmod a+x $$shell; done
	# Remove CVS directories
	-find debian/tiger/ -type d -a -name "CVS" |xargs rm -rf 
	# Remove the systems that do not apply to the tiger-otheros package
	# Currently only Linux and default are kept
	# AIX/  default/  HPUX/  IRIX/  Linux/  NeXT/  SunOS/  UNICOS/ UNICOSMK
	# TODO: make this for all dirs save for Linux and default (i.e.
	# make this 'mv' more generic)
	mv debian/tiger/usr/lib/tiger/systems/{AIX,HPUX,IRIX,NeXT,SunOS,UNICOS,UNICOSMK,Tru64,MacOSX} debian/tiger-otheros/usr/lib/tiger/systems/
	# Install configuration files
	install -m 600 cronrc debian/tiger/etc/tiger/
	# Note: Do not install tigerrc, it is handled by ucf since it is edited by Debconf prompts:
	-rm -f debian/tiger/etc/tiger/tigerrc
	install -m 600 debian/tiger.default debian/tiger/etc/default/tiger
	install -m 600 debian/debian.ignore debian/tiger/etc/tiger/tiger.ignore
	install -m 644 version.h debian/tiger/usr/lib/tiger/
	# Adjust the permissions of directories that might contain confidential information
	chmod 0700 debian/tiger/var/lib/tiger/work
	chmod 0700 debian/tiger/var/log/tiger
	# Create symbolic link for Linux version 3
	ln -fs 2 debian/tiger/usr/lib/tiger/systems/Linux/3
	# Remove unneeded Makefile files.
	rm -f debian/tiger/usr/lib/tiger/doc/Makefile
	rm -f debian/tiger/usr/lib/tiger/doc/Makefile.in
	# Add Desktop file
	mkdir -p $(CURDIR)/debian/tiger/usr/share/applications/
	install -m 0644 $(CURDIR)/debian/tiger.desktop $(CURDIR)/debian/tiger/usr/share/applications/

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
#	dh_testversion
	dh_testdir
	dh_testroot
	dh_install
	dh_installdebconf	
	dh_installdocs
	dh_installexamples tigerrc* site* cronrc issue* debian/server.ignore
	dh_installmenu
	dh_installcron
	dh_installman man/tiger.8 man/tigexp.8 man/tigercron.8
	dh_installinfo
	dh_installchangelogs CHANGES
	dh_lintian
	dh_link
	dh_strip -XHPUX -XSunOS -XAIX -XIRIX -XNeXT -XMacOSX
	dh_compress
	dh_fixperms  \
		--exclude var/lib/tiger/work \
		--exclude var/log/tiger
	dh_installdeb
	dh_shlibdeps -XHPUX -XSunOS -XAIX -XIRIX -XNeXT -XMacOSX
	dh_gencontrol
	dh_md5sums
	dh_builddeb

update-dsa:
# Updated Debian Security Advisories
# This target should only be run by the Debian maintainer (which needs
# to fix the update_advisories appropriately)
	cd systems/Linux/2 && sh update_advisories.sh
binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
